RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ https://spardha.co.in/$1 [R=301,L]
Options -Indexes
ErrorDocument 403 https://spardha.co.in/403.html
ErrorDocument 404 https://spardha.co.in/404.html
